{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">⚙️ Configuration de mon Entreprise</div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nom de l'Entreprise</label>
                        <input type="text" name="nom_entreprise" class="form-control" value="{{ profil.nom_entreprise }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nom du Gérant (Toi)</label>
                        <input type="text" name="gerant" class="form-control" value="{{ profil.gerant }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Téléphone Professionnel</label>
                        <input type="text" name="telephone" class="form-control" value="{{ profil.telephone }}">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enregistrer les infos</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

