{% extends "layout.html" %}
{% block content %}
<div class="container text-center mt-5">
    <div class="card border-warning p-5 shadow">
        <h1 class="text-warning">🚀 Test Gratuit Terminé</h1>
        <p class="lead">Vous avez atteint la limite de 3 devis gratuits.</p>
        <hr>
        <h4>Passer à la version Illimitée</h4>
        <p>Prix : <b>2 000 FCFA / mois</b></p>
        <p>Payez par Orange/Moov Money au : <b>+226 65634297 / 71863426</b></p>
        <a href="https://wa.me/22671863426" class="btn btn-success btn-lg">Envoyer la preuve sur WhatsApp</a>
    </div>
</div>
{% endblock %}
  
